---

---

<section
  id="early-access"
  class="my-12 px-4 md:px-6 text-foreground scroll-m-4 scroll-smooth"
>
  <div
    class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
  >
    <h2
      class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
    >
      The early access bundle
    </h2>
  </div>
</section>
