---
import { getCollection, type CollectionEntry } from "astro:content";
import FaqEntry from "../FaqEntry.astro";

const faqs: CollectionEntry<"faq">[] = await getCollection("faq");
---

<section id="faq" class="my-12 text-foreground scroll-m-28 scroll-smooth">
  <div
    class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
  >
    <h2
      class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
    >
      FAQs
    </h2>
  </div>
  <div
    class="bg-card/50 text-card-foreground border border-border rounded-md p-8 backdrop-blur-sm"
  >
    <div class="space-y-4">
      {faqs.map((faq) => <FaqEntry faq={faq} />)}
    </div>
  </div>
</section>
