---
import Image from "astro/components/Image.astro";
import { PRICE_FULL, PRICE_DISCOUNTED } from "../../consts";
import coverLight from "../../images/cover-light.png";
import coverDark from "../../images/cover-dark.png";
import Readers from "../Readers.astro";
import BuyButton from "../BuyButton.astro";
---

<section class="pt-20 pb-12 lg:py-24">
  <div class="flex flex-col items-center gap-10 lg:gap-16 lg:flex-row">
    <Image
      src={coverLight}
      width="400"
      height="566"
      alt="Crafting Lambda Functions in Rust: Book Cover (light version)"
      quality={90}
      decoding="sync"
      loading="eager"
      class="dark:hidden aspect-[400/566] overflow-hidden rounded-r-md object-cover object-center shadow-lg shadow-black/50"
    />
    <Image
      src={coverDark}
      width="400"
      height="566"
      alt="Crafting Lambda Functions in Rust: Book Cover (dark version)"
      quality={90}
      decoding="sync"
      loading="eager"
      class="hidden dark:block aspect-[400/566] overflow-hidden rounded-r-md object-cover object-center shadow-lg shadow-black/50"
    />
    <div
      class="flex flex-col space-y-6 text-center justify-center items-center lg:justify-start lg:items-start lg:text-left"
    >
      <div class="space-y-2">
        <h1
          class="text-4xl max-w-[700px] font-bold sm:text-5xl md:text-6xl lg:text-7xl/line-tight bg-gradient-to-tr from-primary-alt to-primary inline-block text-transparent bg-clip-text"
        >
          Crafting Lambda Functions in Rust
        </h1>
      </div>
      <p
        class="max-w-[700px] text-foreground/80 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
      >
        A practical guide on how to build <strong>efficient</strong>, <strong
          >sustainable</strong
        >, <strong>cost-effective</strong> serverless AWS solutions with the Rust
        programming language.
      </p>

      <div class="flex flex-col gap-2 lg:max-w-80">
        <BuyButton />
        <p class="text-sm text-left text-muted-foreground font-semibold">
          <a
            href="#early-access"
            class="border-b border-border-foreground border-dotted pb-1"
            ><span class="uppercase font-bold"
              >Early-Access<sup class="sup text-[.5rem] -top-2 relative">TM</sup
              ></span
            > e-book package for just <strike
              class="font-normal line-through decoration-destructive/50 decoration-2"
              >{PRICE_FULL}</strike
            >
            {PRICE_DISCOUNTED} $!</a
          >
        </p>
      </div>

      <div>
        <Readers total={166} />
      </div>
    </div>
  </div>
</section>
