---
import { BUY_LINK } from "../../consts.ts";
import { getCollection, type CollectionEntry } from "astro:content";
import ReviewEntry from "../ReviewEntry.astro";
const reviews: CollectionEntry<"reviews">[] = await getCollection("reviews");
---

<section
  id="testimonials"
  class="my-12 text-foreground scroll-m-28 scroll-smooth"
>
  <div
    class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
  >
    <h2
      class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-primary-alt to-primary inline-block text-transparent bg-clip-text"
    >
      What people are saying
    </h2>
    <h3 class="text-center text-lg text-muted-foreground font-semibold">
      Don't just listen to us. Listen to them.
    </h3>
  </div>

  <div class="">
    <ul class="flex flex-row flex-wrap justify-center gap-8">
      {
        reviews.map((review) => (
          <li class="w-full md:w-1/2 lg:w-1/3 text-sm leading-6 break-inside-avoid flex">
            <ReviewEntry review={review} />
          </li>
        ))
      }
      <li
        class="w-full md:w-1/2 lg:w-1/3 text-sm leading-6 break-inside-avoid flex items-center justify-center"
      >
        <div
          class="relative p-6 space-y-6 leading-none rounded-lg bg-card/50 text-card-foreground border border-border"
        >
          <div
            class="text-center text-muted-foreground leading-normal text-md prose"
          >
            <strong class="font-bold leading-8"
              >We are looking for more reviews! 😇.</strong
            >
            <p>Do you want to help?</p>
            <p><a href={BUY_LINK}>Leave a review on Gumroad!</a></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
