---
import { BUY_LINK } from "../../consts.ts";
// import { getCollection, type CollectionEntry } from "astro:content";
// import ReviewEntry from "../ReviewEntry.astro";
// const reviews: CollectionEntry<"reviews">[] = await getCollection("reviews");
---

<section
  id="testimonials"
  class="my-12 text-foreground scroll-m-28 scroll-smooth"
>
  <div
    class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
  >
    <h2
      class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-primary-alt to-primary inline-block text-transparent bg-clip-text"
    >
      What people are saying
    </h2>
    <h3 class="text-center text-lg text-muted-foreground font-semibold">
      Don't just listen to us. Listen to them.
    </h3>
  </div>

  <div class="text-center text-muted-foreground prose">
    <p>Hopefully we will have some lovely reviews here... soon! 😇.</p>
    <p>
      Do you want to help? <a href={BUY_LINK}>Leave us a review on Gumroad!</a>
    </p>
  </div>

  <!-- <div class="columns-1 md:columns-2 lg:columns-3 gap-8">
    
    <ul class="space-y-8">
      {
        reviews.map((review) => (
          <li class="text-sm leading-6 break-inside-avoid">
            <ReviewEntry review={review} />
          </li>
        ))
      }
    </ul>
  </div> -->
</section>
