---

---

<section
  id="testimonials"
  class="my-12 px-4 md:px-6 text-foreground scroll-m-8 scroll-smooth"
>
  <div
    class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
  >
    <h2
      class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
    >
      What people are saying
    </h2>
  </div>

  <div class="grid items-start gap-6 md:gap-12 lg:grid-cols-2 lg:gap-10">
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 dark:text-gray-400">
        “This book is a game-changer for anyone interested in combining the
        power of Rust with the flexibility of serverless computing. The author
        does an excellent job of breaking down complex concepts into
        easy-to-understand examples. Highly recommended!”
      </p>
      <div class="flex items-center space-x-2">
        <div class="font-medium">Alice Johnson</div>
        <div class="text-sm text-gray-500">- @ajohnson</div>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 dark:text-gray-400">
        “As a longtime fan of Rust, I was excited to dive into this book, and it
        did not disappoint. The hands-on examples really helped me understand
        how to write efficient and elegant Lambda functions. Kudos to the author
        for creating such a valuable resource!”
      </p>
      <div class="flex items-center space-x-2">
        <div class="font-medium">Bob Lee</div>
        <div class="text-sm text-gray-500">- @bob_lee</div>
      </div>
    </div>
  </div>
</section>
