---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/sections/Navigation.astro";
import Hero from "../components/sections/Hero.astro";
import LeadQuote from "../components/sections/LeadQuote.astro";
import Features from "../components/sections/Features.astro";
import Chapters from "../components/sections/Chapters.astro";
import WhoIsItFor from "../components/sections/WhoIsItFor.astro";
import Authors from "../components/sections/Authors.astro";
import EarlyAccessBundle from "../components/sections/EarlyAccessBundle.astro";
import Testimonials from "../components/sections/Reviews.astro";
import FreeChapter from "../components/sections/FreeChapter.astro";
import Faq from "../components/sections/Faq.astro";
import TheProblem from "../components/sections/TheProblem.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout title="Crafting Lambda Functions in Rust - E-book">
  <div class="relative flex flex-col min-h-screen">
    <div
      class="absolute -left-[15%] top-0 -z-10 m-auto h-[400px] w-[400px] md:h-[610px] md:w-[610px] rounded-full bg-[#FD8001] opacity-50 blur-[100px]"
    >
    </div>

    <Navigation />

    <main class="flex-1">
      <Hero />
      <TheProblem />
      <LeadQuote />
      <Features />
      <Chapters />
      <WhoIsItFor />
      <EarlyAccessBundle />
      <Authors />
      <Testimonials />
      <FreeChapter />
      <Faq />
    </main>

    <Footer />
  </div>
</Layout>
