---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import LeadQuote from "../components/sections/LeadQuote.astro";
import Features from "../components/sections/Features.astro";
import Chapters from "../components/sections/Chapters.astro";
---

<Layout title="Crafting Lambda Functions in Rust - E-book">
  <div class="relative flex flex-col min-h-screen">
    <div
      class="absolute -left-[15%] top-0 -z-10 m-auto h-[610px] w-[610px] rounded-full bg-[#FD8001] opacity-50 blur-[100px]"
    >
    </div>
    <header class="py-4 md:py-6 z-20">
      <div class="container flex items-center justify-end px-4 md:px-6">
        <a
          class="sr-only flex items-center space-x-2 text-2xl font-bold"
          href="/"
        >
          Crafting Lambda Functions in Rust
        </a>
        <nav class="hidden space-x-4 text-base font-medium md:flex">
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#features"
          >
            Features
          </a>
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#author"
          >
            Author
          </a>
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#testimonials"
          >
            Testimonials
          </a>
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#faq"
          >
            FAQ
          </a>
        </nav>
      </div>
    </header>

    <main class="flex-1">
      <Hero />
      <LeadQuote />
      <Features />
      <Chapters />

      <section class="my-12 px-4 md:px-6 text-foreground">
        <div
          class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
        >
          <h2
            class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
          >
            Who is this book for
          </h2>
        </div>
      </section>

      <section class="my-12 px-4 md:px-6 text-foreground">
        <div
          class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
        >
          <h2
            class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
          >
            The early access bundle
          </h2>
        </div>
      </section>

      <section class="my-12 px-4 md:px-6 text-foreground">
        <div
          class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
        >
          <h2
            class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
          >
            Meet the authors
          </h2>
        </div>
      </section>

      <section class="my-12 px-4 md:px-6 text-foreground">
        <div
          class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
        >
          <h2
            class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
          >
            What people are saying
          </h2>
        </div>
      </section>

      <section class="my-12 px-4 md:px-6 text-foreground">
        <h2>Opinions from the readers</h2>
        <p>TODO</p>

        <div class="grid items-start gap-6 md:gap-12 lg:grid-cols-2 lg:gap-10">
          <div class="flex flex-col gap-2">
            <p class="text-gray-500 dark:text-gray-400">
              “This book is a game-changer for anyone interested in combining
              the power of Rust with the flexibility of serverless computing.
              The author does an excellent job of breaking down complex concepts
              into easy-to-understand examples. Highly recommended!”
            </p>
            <div class="flex items-center space-x-2">
              <div class="font-medium">Alice Johnson</div>
              <div class="text-sm text-gray-500">- @ajohnson</div>
            </div>
          </div>
          <div class="flex flex-col gap-2">
            <p class="text-gray-500 dark:text-gray-400">
              “As a longtime fan of Rust, I was excited to dive into this book,
              and it did not disappoint. The hands-on examples really helped me
              understand how to write efficient and elegant Lambda functions.
              Kudos to the author for creating such a valuable resource!”
            </p>
            <div class="flex items-center space-x-2">
              <div class="font-medium">Bob Lee</div>
              <div class="text-sm text-gray-500">- @bob_lee</div>
            </div>
          </div>
        </div>
      </section>

      <section class="my-12 px-4 md:px-6 text-foreground">
        <div
          class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
        >
          <h2
            class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
          >
            Get a FREE chapter!
          </h2>
        </div>
      </section>

      <section class="my-12 px-4 md:px-6 text-foreground">
        <div
          class="mt-32 mb-8 flex flex-col justify-center align-middle gap-4 items-center"
        >
          <h2
            class="text-center text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl/line-tight bg-gradient-to-tr from-foreground to-[#A60B2C] inline-block text-transparent bg-clip-text"
          >
            FAQs
          </h2>
        </div>
        <p>TODO</p>
        <div class="space-y-4">
          <div class="border-t border-gray-200 dark:border-gray-800">
            <div class="flex items-center justify-between py-4">
              <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 text-left w-full"
              >
                Is this book suitable for beginners?
              </button>
              <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 ml-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-4 h-4"
                >
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </button>
            </div>
            <div
              class="grid gap-2 px-4 pb-4 text-sm text-gray-500 border-t dark:text-gray-400"
            >
              Yes, the book is designed to be accessible to readers with basic
              knowledge of Rust. The early chapters provide a gentle
              introduction to Lambda functions and serverless computing.
            </div>
          </div>
          <div class="border-t border-gray-200 dark:border-gray-800">
            <div class="flex items-center justify-between py-4">
              <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 text-left w-full"
              >
                Are the code examples available for download?
              </button>
              <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 ml-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-4 h-4"
                >
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </button>
            </div>
            <div
              class="grid gap-2 px-4 pb-4 text-sm text-gray-500 border-t dark:text-gray-400"
            >
              Yes, the book is designed to be accessible to readers with basic
              knowledge of Rust. The early chapters provide a gentle
              introduction to Lambda functions and serverless computing.
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="border-t">
      <div
        class="container flex flex-col gap-4 py-8 md:py-12 px-4 text-center md:flex-row md:items-center md:justify-between md:gap-6 md:px-6 lg:gap-10"
      >
        <a class="flex items-center space-x-2 text-2xl font-bold" href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
            <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
          </svg>
          Rust Lambdas
        </a>
        <nav
          class="flex items-center justify-center space-x-4 text-sm font-medium"
        >
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#features"
          >
            Features
          </a>
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#author"
          >
            Author
          </a>
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#testimonials"
          >
            Testimonials
          </a>
          <a
            class="text-gray-900/60 hover:underline dark:text-gray-50/60 dark:hover:underline"
            href="#faq"
          >
            FAQ
          </a>
        </nav>
        <div class="flex items-center space-x-4">
          <a
            class="inline-flex h-10 items-center justify-center rounded-md border border-gray-200 border-gray-200 bg-white px-8 text-sm font-medium shadow-sm transition-colors hover:bg-gray-100 hover:text-gray-900 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-800 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800 dark:hover:text-gray-50 dark:focus-visible:ring-gray-300"
            href="#terms"
          >
            Terms &amp; Conditions
          </a>
          <a
            class="inline-flex h-10 items-center justify-center rounded-md border border-gray-200 border-gray-200 bg-white px-8 text-sm font-medium shadow-sm transition-colors hover:bg-gray-100 hover:text-gray-900 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-950 disabled:pointer-events-none disabled:opacity-50 dark:border-gray-800 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800 dark:hover:text-gray-50 dark:focus-visible:ring-gray-300"
            href="#privacy"
          >
            Privacy Policy
          </a>
        </div>
      </div>
    </footer>
  </div>
</Layout>
