---

---

<a
  class="text-foreground/90 underline-offset-2 hover:underline hover:text-foreground"
  href="#features"
>
  Features
</a>
<a
  class="text-foreground/90 underline-offset-2 hover:underline hover:text-foreground"
  href="#chapters"
>
  Chapters
</a>
<a
  class="text-foreground/90 underline-offset-2 hover:underline hover:text-foreground"
  href="#authors"
>
  Authors
</a>
<a
  class="text-foreground/90 underline-offset-2 hover:underline hover:text-foreground"
  href="#testimonials"
>
  Testimonials
</a>
<a
  class="text-foreground/90 underline-offset-2 hover:underline hover:text-foreground"
  href="#faq"
>
  FAQ
</a>
