---
type Props = {
  title: string;
};

const props = Astro.props;
---

<div
  class="bg-gray-200 text-center text-xs text-gray-700 font-semibold rounded-t-sm py-1 shadow-inner border border-gray-300"
>
  <span class="drop-shadow-sm">{props.title}</span>
</div>
<div class="bg-black/75 rounded-b-sm shadow-inner">
  <slot />
</div>
