---
import { cn } from "../../lib/utils";

type Props = {
  value: number;
  class?: string;
};

const props = Astro.props;

const normalizedValue = Math.min(
  100,
  Math.max(0, Math.floor(props.value * 100))
);
---

<div
  aria-valuemax="100"
  aria-valuemin="0"
  role="progressbar"
  data-state="indeterminate"
  data-max="100"
  class={cn(
    "relative h-4 overflow-hidden rounded-full bg-secondary w-[60%]",
    props.class
  )}
>
  <div
    data-state="indeterminate"
    data-max="100"
    class="h-full w-full flex-1 bg-primary transition-all"
    style={`transform: translateX(-${100 - normalizedValue}%);`}
  >
  </div>
</div>
